@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

:root {
	--font: "Roboto", sans-serif;
	--f_size: 18px;
	/* colors */
	--main_clr: #07a9df;

	--main_clr_dark: #0c5286;
	--secondary: #a2d45e;
	--white: #ffff;
	--fnt_dark: #3e3e3e;
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--fnt_dark);
}

.img-fluid {
	width: 100%;
	display: block;
}
.bg-blue {
	background-color: var(--main_clr);
}
.bg-dark {
	background-color: var(--main_clr_dark);
}
.text-blue {
	color: #07a9df;
}
.text-white {
	color: var(--white) !important;
}
.text-drkBlue {
	color: var(--main_clr_dark) !important;
}
.h-box {
	color: var(--main_clr_dark);
	font-size: 2rem;
	font-weight: 300;
}
.h-global {
	font-size: 4rem;
	color: var(--main_clr);
	font-weight: 300;
}
.bg {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-3 {
	margin-bottom: 2.5rem;
}
.mb-4 {
	margin-bottom: 4rem;
}
.white {
	color: var(--white) !important;
}
.btn {
	font-size: 1.1rem;
	padding: 0.9em 2.5em;
	display: inline-block;
	border-radius: 7px;
	color: var(--white);
	font-weight: 300;
}
.btn-blue {
	background-color: var(--main_clr_dark);
}

/* BODY */

body {
	font-family: var(--font);
	font-size: var(--f_size);
	font-weight: 300;
	overflow-x: hidden;
}

/* NAVIGACIJA */

nav {
	background-color: var(--main_clr);
	padding: 25px 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 70px;
}

nav > *:not(.logo) {
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul li {
	font-size: 1rem;
	margin-right: 2.8em;
}

nav ul li a {
	color: var(--white);
	text-transform: lowercase;
}

nav .nav-right .socials .soc_wrapper {
	display: inline-block;
	margin-right: 0.6rem;
}
.soc_wrapper img {
	display: block;
}
.nav-right .shop-cart {
	margin-right: 0.6rem;
}

.nav-right .langs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-right .langs * {
	color: var(--white);
}
.nav-right .langs span {
	margin: 0 0.3rem;
}

/* BURGER = HAMBURGER*/

nav .burger {
	display: block;
	width: 30px;
	height: 22px;
	/* border: 1px solid white; */
	display: none;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	cursor: pointer;
}
.burger span {
	width: 100%;
	height: 3px;
	background-color: var(--white);
	border-radius: 3px;
	display: block;
	pointer-events: none;
}

/* HEADER */
header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 90vh;
	position: relative;
}
header .box {
	flex: 0 0 50%;
	height: 100%;
	border: 1px solid red;
	position: relative;
	z-index: 1;
}
.box-left .img-wrapper {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 202;
}

header .box-left .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 0;
}
header .logo-box {
	position: absolute;
	width: 16%;
	min-width: 130px;
	max-width: 200px;
	top: 50%;
	left: 50%;
	border: 1px solid red;

	transform: translate(-50%, -50%);
	z-index: 2020;
}
header .box-right {
	display: flex;
	align-items: center;
	justify-content: center;
}
header .box-right .item {
	flex: 0 0 70%;
	min-width: 250px;
	padding: 30px;
	text-align: center;
}
header .box-right .item h3 {
	font-size: calc(4.3vw + 18px);
}

/* SECTION ONE */

.one {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid pink;
	flex-wrap: wrap;
	margin-bottom: 500px;
}
.square {
	border: 1px solid green;
	flex: 0 0 50%;
	aspect-ratio: 1 / 1;
	max-height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
	overflow: hidden;
}
/* SQUARE LEFT */
.square-left .inner-box {
	display: flex;
	align-items: center;
	justify-content: center;
}
.square-left .inner-box:nth-child(1) img {
	width: 20%;
	min-width: 80px;
	max-width: 150px;
}

.box-content {
	text-align: center;
	padding: 1.5rem;
}

.h-box {
	font-size: calc(1.2vw + 14px);
}
.inner-box p {
	font-size: 0.9rem;
}

/* SQUARE RIGHT */
.square-right .bg {
	object-fit: cover;
	object-position: center;
}
.square-right .bg img {
	width: 100%;
	display: block;
	object-fit: cover;
	object-position: center;
}

.square-right {
	align-items: flex-end;
	justify-content: flex-end;
}
.square-right .inner-box {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.85);
}
.inner-box {
	flex: 0 0 50%;

	height: 50%;
}

/* RESPONSIVE */

@media (max-width: 998px) {
	nav {
		position: relative;
	}
	nav .logo {
		width: 120px;

		display: block;
	}
	nav .logo .nav-logo {
		display: block;
		width: 100%;
	}

	nav ul li {
		margin: 0.5rem 0;
	}
	nav ul {
		position: absolute;
		top: 100%;

		right: 0;
		background-color: var(--main_clr);
		width: 300px;
		display: flex;
		flex-direction: column;
		padding: 20px 20px;
		transform: translateX(100%);
		transition: 0.3s all ease-in-out;
	}
	nav .nav-right {
		/* display: none; */
		transform: translateX(100%);
		width: 300px;
		position: absolute;
		padding: 10px;
		top: calc(100% + 215px);
		right: 0;
		background-color: var(--main_clr);
		transition: 0.3s all ease-in-out;
	}

	nav .burger {
		display: flex;
	}
	.show-nav {
		transform: translateX(0) !important;
	}
}
